{% extends 'core/base.html' %}

{% block title %}
Acerca de
{% endblock  %}

<!--Para no tener problemas poner todo en una sola linea-->
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock  %}

{% block headers %}
    <h1>Acerca de</h1> 
    <span class="subheading">Biografía</span>
{% endblock  %}

{% block content %}
<div class="row">  
    <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" src="{% static 'core/img/avatar.png' %} " alt="">
    </div>
    <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Jhonathan Tzintzun</h2>   
        <p>Un estudiante de ingenieria UTTlaxcala.</p>
        <p>Amante del desarrollo web con Python y Data Analytics, con un gustó especial a la fotografía.</p>
    </div>
</div>
{% endblock  %}